<div class="top-nav">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3>Menu</h3>
        @Html.ActionLink("首页", "Index", "Home")
        @Html.ActionLink("关于我们", "About", "Home")
        @Html.ActionLink("产品", "Product", "Home")
        @Html.ActionLink("联系我们", "Contactus", "Home")
    </nav>
    <div class="main buttonset">
        <button id="showRightPush">
            <img src="../../Content/themes/bodyImage/menu-icon.png" alt="" />
        </button>
    </div>
</div>
<div style="width:1187px; height: 320px; margin: 0 auto;">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"
                class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="javascript:"><img src="@Url.Content("~/Content/banner/banner1.jpg")" alt=""></a>
            </div>
            <div class="item">
                <a href="javascript:"><img src="@Url.Content("~/Content/banner/banner2.jpg")" alt=""></a>
            </div>
            <div class="item">
                <a href="javascript:"><img src="@Url.Content("~/Content/banner/banner3.jpg")" alt=""></a>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left lunbo" href="#myCarousel"
           data-slide="prev"><img src="~/Content/themes/bodyImage/lunbo/bg17.png" /></a>
        <a class="carousel-control right lunbo" href="#myCarousel"
           data-slide="next"><img src="~/Content/themes/bodyImage/lunbo/bg18.png" /></a>
    </div>
</div>
<style type="text/css">
    .lunbo {
        margin-top: 120px;
    }
</style>
<script>
    $(function () {
        $('#myCarousel').carousel({
            internal: 2000
        });
    });
</script>
